{
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "node": true
    },
    "extends": [
        "plugin:vue/recommended" // 권장되는 코딩 스타일
    ],
    "plugins": [],
    // 특정 룰 off 하기
    "rules": {
        "vue/max-attributes-per-line": "off",
        "vue/singleline-html-element-content-newline": "off",
        "vue/html-indent": "off"
    }
}